<!-- Latest compiled and minified CSS -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<div style="width: 100%; background-color: #f0f0f0;">
  <br />
  <br />

  <div style="font-family: 'Roboto', sans-serif;">
    <div style="width: 100%; display: table; margin-bottom: 18px; padding-left: 22px;">
        <div style="display: table-cell; margin: 25px; padding: 10px; border-radius: 5px; font-size: 24px; font-weight: bold;">
            Produk-produk yang disediakan oleh <span style="color:firebrick;"><%- user.name %></span>
        </div>
        <a class="btn btn-primary" href="/item/create_page" style="display: table-cell; float: right; margin-top: 25px; margin-right:33px; text-align: center; padding: 10px; border-radius: 5px; font-size: 14px; font-weight: bold;">
            Tambah
        </a>
    </div>
    <div style="width: 100%; padding-left: 22px;">
      <% items.forEach(function(el, index) { %>
        <div style="display: inline-block; vertical-align: top; width: 23%; text-align: center; padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; background: #f0f0f0; border-radius: 5px; margin-left: 10px; margin-right: 10px; margin-bottom: 30px; background-color: #fff; border-bottom: 0 none; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);">
          <a href="/item/<%- el.id %>/view">
            <img style="height: 450px; max-width: 100%; object-fit: contain;" src="<%- el.image %>" alt="profile">
          </a>
          <div style="background-color: #f0f0f0; width: 100%; text-align: center; padding-top: 5px; padding-left: 10px; padding-right: 10px; padding-bottom: 1px; margin-top: 15px; border-radius: 5px;">
              <div style="width: 100%; text-align: left; font-size: 20px; font-weight: bold;">
                  <p><%- el.name %></p>
              </div>
              <div style="width: 100%; font-size: 14px; font-weight: bold; display: table;">
                  <div style="width: 50%; text-align: left; display: table-cell;">
                      <p>IDR <%- el.price %></p>
                  </div>
                  <div style="width: 50%; text-align: right; display: table-cell;">
                      <p>terbeli <%- Math.floor(Math.random() * (31 - 0 + 1)) + 0 %> kali</p>
                  </div>
              </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</div>
